*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mt-14{
    margin-top: 14px;
}

.mt-28{
    margin-top: 28px;
}

.title{
    text-align: center;
    margin-top: 20px;
}

body{
    height: 100vh;
    background-color: rgb(246, 174, 45);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 5vw;
}

.divContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divTimer{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 70px;
    font-weight: 600;
}

.divTime{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
}

/* .divTime2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    font-weight: 500;
    font-size: 40px;
    color: rgb(105, 104, 104);
} */

.divBtns{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn{
    height: 36px;
    width: 100px;
    border-radius: 10px;
    /* border: 1px solid rgb(97, 97, 97); */
    font-size: 20px;
    font-weight: 600;
}

#startBtn{
    background-color: rgb(47, 72, 88);
    border: none;
}

#pauseBtn{
    background-color: rgb(51, 101, 138);
    border: none;
}

#resetBtn{
    background-color: rgb(242, 100, 25);
    border: none;
}

.divExercises{
    text-align: left;
}


/* https://coolors.co/palette/33658a-86bbd8-2f4858-f6ae2d-f26419 */